doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ZAP

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        
        ul
          li <b>Anggota Kelompok</b>
          li Andy 141111359
          li Nigga 141110019
          li Eric Alexander 141110558
          li Willy Laurents 141110655
      section
        h3 Quiz Kepintaran Logika yang kita buat mengikuti dasar dari game Quiz Parampaa. Permainan ini diciptakan oleh Bisri Mustova atau Masova. Inspirasi permainan ini berasal dari permainan yang bernama The Impossible Quiz yang diciptakan oleh Glenn Rhodes. Quiz Parampaa adalah permainan pertanyaan yang membutuhkan logika karena bisa saja jawabannya melenceng dari pertanyaannya atau jawabannya ada di pertanyaan itu sendiri.
    

      section
        h3 Sudah gak sabar nih main game nya? Langsung Gas aja.
        <a href="quiz1.html"><button class="startgame">StartGame</button></a>
                

    script(src='build/build.js')