doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ZAP
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h3 Quiz 11
        .container
          .header
            p.level Level 11
            p#life
              img(src='images/fulllove.png')
          .soal
            p#soal
            p
              | Seorang bisu pergi ke toko dan ingin membeli sikat gigi. Dengan menirukan orang menggosok gigi, ia berhasil menyampaikan keinginannya pada penjaga toko dan ia berhasil membeli sikat gigi...
            p
              | Berikutnya, seorang buta masuk ke toko itu dan ingin membeli kacamata hitam, bagaimana DIA menunjukkan keinginannya?
            a(href='#', style='color:green;', onclick='False()')
              p Menunjuk kaca mata hitam
            a(href='#', style='color:green;', onclick='False()')
              p Meniru orang memakai kacamata
            a#true(href='#', style='color:green;')
              p Ngomong langsung
            a(href='#', style='color:green;', onclick='False()')
              p Melakukan isyarat
    script(src='build/build.js')
    script(src='build/main.js')
    script.
      myFunctionLife();
      count = 0;
      document.getElementById("true").onclick = function()                     {
      location.href="quiz12.html";
      }
