doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ZAP
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h3 Quiz 5
        .container 
          .header
            p.level Level 5
            p#life
              img(src='images/fulllove.png')
          .soal
            p#soal
              | Di permainan DOTA, jika salah satu teman Anda mengefeed musuh, maka kata-kata yang sering digunakan adalah...
            a(href='')
              p(style='margin-left: 220px; text-align: left; color: red;')
                b A. ggwp
            a(href='')
              p(style='margin-left: 220px; text-align: left;color: red;')
                b B. p*ta ina
            a(href='')
              p(style='margin-left: 220px; text-align: left;color: red;')
                b C. cyk* bly*t
            a(href='')
              p(style='margin-left: 220px; text-align: left;color: red;')
                b D. enemy too strong
    script(src='build/build.js')
    script(src='build/main.js')
    script.
      myFunction();
      life = 3;
      var life1 = ["fulllove.png","emptylove.png","emptylove.png"];
      var life2 = ["fulllove.png","fulllove.png","emptylove.png"];
      var life3 = ["fulllove.png","fulllove.png","fulllove.png"];
      var i;
      var templife="";
      for(i = 0;i<3;i++)
      {
      if(life == 1)
      {
      templife += "<img src='images/"+life1[i]+"'"+">"+"  ";
      }
      else if(life==2)
      {
      templife += "<img src='images/"+life2[i]+"'"+">"+"  ";
      }
      else if(life==3)
      {
      templife += "<img src='images/"+life3[i]+"'"+">"+"  ";
      }
      }
      document.getElementById("life").innerHTML = templife;
