doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ZAP
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h3 Quiz 23
        .container
          .header
            p.level Level 23
            p#life
              img(src='images/fulllove.png')
          .soal
            p#soal
              a(href='')
                img(src='images/quiz23/soal.png')
              br
              | Berapakah lingkaran yang bergerak? 
              br
            a(href='#', onclick='False()')
              img(src='images/quiz23/1.png')
            a(href='#', onclick='False()')
              img(src='images/quiz23/2.png')
            a#true(href='#')
              img(src='images/quiz23/3.png')
            a(href='#', onclick='False()')
              img(src='images/quiz23/4.png')
    script(src='build/build.js')
    script(src='build/main.js')
    script.
      myFunctionLife();
      count = 0;
      document.getElementById("true").onclick = function()                     {
      location.href="quiz24.html";
      }
