<<<<<<< HEAD
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ZAP
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h3 Quiz 21
        .container
          .header
            p.level Level 21
            p#life
              img(src='images/fulllove.png')
          .soal
            p#soal Jika Bumi itu bulat maka 5 + 6 = 1, berapakah 8 + 8 ?
            a#true(href='#')
              img(src='images/quiz21/1.png')
            a(href='#', onclick='False()')
              img(src='images/quiz21/2.png')
            a(href='#', onclick='False()')
              img(src='images/quiz21/3.png')
            a(href='#', onclick='False()')
              img(src='images/quiz21/4.png')
    script(src='build/build.js')
    script(src='build/main.js')
    script.
      myFunctionLife();
      count = 0;
      document.getElementById("true").onclick = function()                     {
      location.href="quiz22.html";
      }
=======
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ZAP
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h3 Quiz 21
        .container
          .header
            p.level Level 21
            p#life
              img(src='images/fulllove.png')
          .soal
            p#soal Jika Bumi itu bulat maka 5 + 6 = 1, berapakah 8 + 8 ?
            a#true(href='#')
              img(src='images/quiz21/1.png')
            a(href='#', onclick='False()')
              img(src='images/quiz21/2.png')
            a(href='#', onclick='False()')
              img(src='images/quiz21/3.png')
            a(href='#', onclick='False()')
              img(src='images/quiz21/4.png')
    script(src='build/build.js')
    script(src='build/main.js')
    script.
      myFunctionLife();
      count = 0;
      document.getElementById("true").onclick = function()                     {
      location.href="quiz22.html";
      }
>>>>>>> 9c5566d378b4eb453c7217bf7bdaaecb24559aec
