doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ZAP
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h3 Quiz 16
        .container
          .header
            p.level Level 16
            p#life
              img(src='images/fulllove.png')
          .soal
            p#soal HOW MANY BITS IN A BYTE ??
            a(href='')
              img(src='images/quiz16/1.png')
            a(href='')
              img(src='images/quiz16/2.png')
            a(href='')
              img(src='images/quiz16/3.png')
            a(href='')
              img(src='images/quiz16/4.png')
    script(src='build/build.js')
    script(src='build/main.js')
    script.
      myFunction();
      life = 3;
      var life1 = ["fulllove.png","emptylove.png","emptylove.png"];
      var life2 = ["fulllove.png","fulllove.png","emptylove.png"];
      var life3 = ["fulllove.png","fulllove.png","fulllove.png"];
      var i;
      var templife="";
      for(i = 0;i<3;i++)
      {
      if(life == 1)
      {
      templife += "<img src='images/"+life1[i]+"'"+">"+"  ";
      }
      else if(life==2)
      {
      templife += "<img src='images/"+life2[i]+"'"+">"+"  ";
      }
      else if(life==3)
      {
      templife += "<img src='images/"+life3[i]+"'"+">"+"  ";
      }
      }
      document.getElementById("life").innerHTML = templife;
