doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ZAP
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h3 Quiz 10
        .container
          .header
            p.level Level 10
            p#life
              img(src='images/fulllove.png')
          .soal
            p#soal
            p
              | Dalam lomba balap MotoGp, Jika anda menyalip orang di posisi terakhir, sekarang anda berada di posisi...?
            a#true(href='#', style='color:green;')
              p No 1
            a(href='#', style='color:green;', onclick='False()')
              p No 2 dari terakhir
            a(href='#', style='color:green;', onclick='False()')
              p No 2 dari depan
            a(href='#', style='color:green;', onclick='False()')
              p No terakhir
    script(src='build/build.js')
    script(src='build/main.js')
    script.
      myFunctionLife();
      count = 0;
      document.getElementById("true").onclick = function()                     {
      location.href="quiz11.html";
      }
