<<<<<<< HEAD
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ZAP
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h3 Selamat Anda telah menghabiskan hidup anda untuk mengerjakan quiz ini
    script(src='build/build.js')
    script(src='build/main.js')
=======
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ZAP
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h3 Selamat Anda telah menghabiskan hidup anda untuk mengerjakan quiz ini
    script(src='build/build.js')
    script(src='build/main.js')
>>>>>>> 9c5566d378b4eb453c7217bf7bdaaecb24559aec
