<<<<<<< HEAD
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ZAP
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        p(style='font-size:25px;') Masukkan nama Anda
        input#input(type='text', onkeypress='Joke()')
    script(src='build/build.js')
    script(src='build/main.js')
    script.
=======
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ZAP
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        p(style='font-size:25px;') Masukkan nama Anda
        input#input(type='text', onkeypress='Joke()')
    script(src='build/build.js')
    script(src='build/main.js')
    script.
>>>>>>> 9c5566d378b4eb453c7217bf7bdaaecb24559aec
